body {
  background: url(https://cdn.pixabay.com/photo/2017/02/15/10/39/background-2068217_960_720.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px
}

table {
  width: 100%;
}

td {
  padding: 10px 40px 10px 0px;
}

td:nth-child(2) {
  width: 100%;
}

tr {
  border-bottom: 1px solid #dcdcdc;
}

input[type="text"] {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  height: 35px;
}

recipe-details input[type="text"] {
  width: 100%;
}

textarea {
  padding-left: 5px;
  padding-right: 5px;
}

.container-fluid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content-wrapper {
   
    margin-top: 5%;
    
}

.recipes {
  height: 90%;
  overflow-y: auto;
}

.no-recipes {
  background: white;
  border-radius: 3px;
  padding: 15px;
}

.recipe-list {
  list-style-type: none;
  -webkit-padding-start: 0;
  padding: 10px 0;
}

.recipe {
  overflow: hidden;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin-bottom: 5px;
}

.recipe-head {
  padding: 10px;
}

.is-open-indicator {
  float: right;
  font-size: 20px;
  margin-right: 5px;
  transition: transform 0.2s;
  position: relative;
  top: 4px;
}

.is-open-indicator.opened {
  transform: rotate(-90deg);
}

.is-open-indicator.closed {
  transform: rotate(0deg);
}

.recipe-name {
  display: inline;
  font-size: 20px;
  margin-bottom: 0px;
}

.edit-recipe {
  float: right;
  position: relative;
  bottom: 2px;
  margin-right: 5px;
  cursor: pointer;
  padding: 3px 10px;
}

.delete-recipe {
  float: right;
  position: relative;
  bottom: 2px;
  cursor: pointer;
  padding: 3px 10px;
}

.recipe-details {
  border-top: 1px solid #dcdcdc;
  padding: 15px;
}

.ingredients-table-wrapper {
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.recipe-directions {
  background: white;
  text-align: justify;
  margin-top: 30px;
  padding-bottom: 10px;
}

.recipe-directions p {
  margin-bottom: 0;
}

.recipe-actions {
  height: 35px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.create-recipe {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px;
  border-radius: 3px;
}

.create-recipe-head {
  margin-bottom: 20px;
}

.create-recipe-head h3 {
  display: inline;
}

.close-modal {
  float: right;
}

.create-recipe-name {
  margin-bottom: 5px !important;
  width: 100%;
}

.create-recipe-ingredient-field {
  margin-bottom: 5px;
}

.create-recipe-ingredient {
  width: 73%;
  margin-right: 1%;
}

.create-recipe-amount {
  width: 20%;
  margin-right: 2%;
}

.create-recipe-directions {
  width: 100%;
  border-radius: 3px;
  border-color: #dcdcdc;
}

.create {
  float: right;
  margin-top: 20px;
}

.add-ingredient {
  margin-top: 20px;
}